.container {
    width: 1200px;
    margin: 15px auto;
    overflow: hidden;
}
.student {
    width: 275px;
    margin: 0 25px 25px 0;
    float: left;
    text-align: center;
    position: relative;
    background-color: black;
}

.student h3 {
    font-size: 20px;
    position: absolute;
    top: 25%;
    text-align: center;
    width: 100%;
}

.student img {
    width: 275px;
    position: relative;
    z-index: 10;
}
.student:hover h3 {
    z-index: 9999;
    color: white;
}
.student:hover img {
    opacity: .3;
}